.menuContainer {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  @media (min-width: 320px) and (max-width: 992px) {
    margin-top: 25px;
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .menuItem {
    display: inline-block;
    text-align: left;
  }
}